<div class="booyah-box col-10 offset-1">
<h1>Put your stuff here</h1>
<%= simple_form_for @medium do |f| %>
  <%= f.input :genre %>
  <%= f.input :publisher %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :description %>
  <br />
  <%= f.submit 'Bookit!!', class: 'btn btn-primary' %>
<% end %>
</div>
